body {
    background-color: #2c3e50 !important;
}

.AddScan__inputFileUpload {
    width: 100%;
    height: 100px;
    text-align: center;
    border: 2px dashed #169F85;
}

.AddScan__inputFileUpload_over {
    border: 2px dashed #e3e3e3;
}

.AddScan__labelFileUpload {
    color: #3c763d;
}

.AddScan__labelFileUpload_over {
    color: #e3e3e3;
}

.AddScan__inputFileUpload h3 {
    padding-top: 25px;
}

.Header {
    background-color: #2A3F54 !important;
}

.ExperimentsPage, .AddExperment, .VoltamogrammPage, .MeasurePage {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
}

.ExperimentsPage__Tree, .VoltamogrammPage__Tree {
    width: 30% !important;
    min-height: 460px !important;
}

.ExperimentsPage__Item, .VoltamogrammPage__Scan {
    width: 60% !important;
    min-height: 460px !important;
    margin: 0 !important;
}

.MeasurePage__ChartCard {
    width: 70% !important;
    min-height: 600px !important;
}

.axis path, .axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.AddVoltamogrammForm {
    width: 80% !important;
}